.about-page-content {
    width: 100%;
    padding-top: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.about-page-contents {
    width: 80%;
    margin: auto;
}


.about-page-contents p {
    font-family: 'Raleway', sans-serif;
}

.wireframes img {
    width: 100%;
}

.content-map img {
    border: 1px black solid;
    width: 100%;
}

.assignment-requirement p {
    font-family: 'Merriweather', serif;
}

.assignment-requirement p span {
    font-family: 'Open Sans', sans-serif;
}

.content-title {
    font-family: 'Merriweather', serif;
    text-align: center;
}

h3 {
    font-family: 'Merriweather', sans-serif;
    font-size: 22px;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

footer {
    background-color: black;
}

.wireframes h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.wireframes h3:first-child {
    padding-top: 0;
}

.credits img {
    height: 32px;
    width: 32px;
}

.credits .credit-title {
    padding-bottom: 10px;
}