.contact-page-contents {
    padding-top: 100px;
    width: 100%;
    background-color: white;
}

.contact-page-contents section {
    width: 80%;
    margin: auto;
}

.form-section {
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 15px;
}

.audubon-section h1 {
    margin-top: 30px;
}

.audubon-section iframe {
    width: 700px;
    height: 500px;
}

#map {
    font-family: Arial, sans-serif;
    height: 410px;
    width: 730px;
    margin: 0;
  }